* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-primary: hsl(205, 89%, 39%);
}

.logo {
    height: 80px;
    width: 200px;
    margin-left: 100px;
}

.logo-wrapper {
    border-bottom: 1px solid gainsboro;
    padding: 12px;
    margin-bottom: 30px;
}

.input {
    margin-bottom: 30px;
    outline: none;
    width: 100%;
    height: 30px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding-left: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    color: rgb(72, 70, 70);
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-top: 100px;
    box-shadow: 0 3px 2px 2px gainsboro;
}

.span {
    margin-bottom: 30px;
    outline: none;
    width: 100%;
    height: 30px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding-left: 10px;
    color: #fff;
    background: var(--clr-primary);
}