/* root asets */
:root {
    --clr-primary: hsl(205, 89%, 39%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgba(245, 238, 225, 0.8);
}



.logo {
    height: 5rem;
    width: 11rem;
    object-fit: contain;
}

.category_select {
    height: 35px;
    width: 80px;
    color: black;
    background: white;
    border: 1px solid #31a7e7;
    outline: none;
}

/* .input {
    height: 35px;
    width: 20rem;
    outline: none;
    padding-left: 5px;
    border: 1px solid #31a7e7;
} */

/* .input::placeholder {
    color: gainsboro;
} */

span {
    background: #31a7e7;
    padding: 8.5px;
    color: white;
}

/* .search-bar {
    display: flex;
    align-items: center;
} */

.language-selection {
    height: 38px;
    width: 80px;
    border: none;
    color: black;
}

.sign-up {
    height: 20px;
    width: 20px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid gainsboro;
    background-color: white;
}


.language-login-signUp {
    display: flex;
    align-items: center;
}

.login {
    padding: 10px 15px 10px 15px;
    transition: 0.5 ease-in-out;
}


/* .login:hover,.signUp:hover,.language-selection:hover{
    background: whitesmoke;
    cursor: pointer;
    border:1.2px solid blue;
} */


.signUp {
    display: flex;
    align-items: center;
    padding: 3px;
}


.spa {
    background: none;
    color: black;
}

.language-login-signUp>div {
    margin-left: 20px;
    /* border: 1px solid var(--clr-primary);
    border-radius: 2px; */
}

.language-login-signUp>div:hover {
    /* border: 1px solid var(--clr-primary); */
    /* border-radius: 1px; */
    transition: 0.8 ease-in-out;
    cursor: pointer;
    box-shadow: 0 0 2px 2px gainsboro;
}

.input {
    margin-bottom: 10px;
    outline: none;
    width: 70%;
    height: 30px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding-left: 10px;
}

.main-section-container-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-section-container{
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid gainsboro;
    padding: 20px;
    padding-top: 60px;
    margin-top: 30px;
    background: #fff;
    border-radius: 5px;
}

.btn{
    padding: 8px;
    margin: 30px;
    border: none;
    background-color: #31a7e7;
    color: #fff;
}