/* root asets */
:root {
    --clr-primary: hsl(205, 89%, 39%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgba(245, 238, 225, 0.8);
}

.top p {
    text-align: center;
    background: orange;
    color: #242939;
    padding: 8px;
    margin-top: 0;
}

.logo {
    height: 5rem;
    width: 11rem;
    object-fit: contain;
}

.category_select {
    height: 35px;
    width: 80px;
    color: black;
    background: white;
    border: 1px solid #31a7e7;
    outline: none;
}

.input {
    height: 35px;
    width: 20rem;
    outline: none;
    padding-left: 5px;
    border: 1px solid #31a7e7;
}

.input::placeholder {
    color: gainsboro;
}

span {
    background: #31a7e7;
    /* height: 30px; */
    padding: 8.5px;
    color: white;
}

.search-bar {
    /* background: #31a7e7; */
    display: flex;
    align-items: center;
    /* width: 25rem;
    height: 2rem;
    border:1px solid var(--clr-primary) */
}

.language-selection {
    height: 38px;
    width: 80px;
    border: none;
    color: black;
}

.sign-up {
    height: 20px;
    width: 20px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid gainsboro;
    background-color: white;
}


.language-login-signUp {
    display: flex;
    align-items: center;
}

.login {
    padding: 10px 15px 10px 15px;
    transition: 0.5 ease-in-out;
}


/* .login:hover,.signUp:hover,.language-selection:hover{
    background: whitesmoke;
    cursor: pointer;
    border:1.2px solid blue;
} */


.signUp {
    display: flex;
    align-items: center;
    padding: 3px;
}


.spa {
    background: none;
    color: black;
}

.language-login-signUp>div {
    margin-left: 20px;
    /* border: 1px solid var(--clr-primary);
    border-radius: 2px; */
}

.language-login-signUp>div:hover {
    /* border: 1px solid var(--clr-primary); */
    /* border-radius: 1px; */
    transition: 0.8 ease-in-out;
    cursor: pointer;
    box-shadow: 0 0 2px 2px gainsboro;
}

/* Categories */

.highlights {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #242939;
    padding: 10px;
    flex-wrap: wrap;
    z-index: 2;
    background: whitesmoke;
    padding: 30px 0 20px 0;
}

.conseltancy {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images1 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.categories {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.shoping {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.hotel {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.education {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.hospital {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.beauty {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.fashion {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.conseltancy {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.right-arrow {
    position: absolute;
    right: 0px;
    border: 1px solid white;
    height: 50px;
    width: 50px;
    background: white;
    box-shadow: 1px 0px 2px 2px gainsboro;
}

.arrow {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 25px;
    width: 25px;
}

/* Mid-search */

.search {
    display: flex;
    justify-content: left;
    align-items: center;
    /* margin: 220px; */
    height: 80px;
    padding-left: 20px;
    background: whitesmoke;
    border: 1px solid gainsboro;
    border-radius: 30px;
}

.search-inp1 {
    outline: none;
    height: 30px;
    width: 15rem;
    border: none;
    /* padding-right: 10px; */
    color: rgb(100, 99, 99);
    border-right: 1px solid black;
    background: none;
}

.search-selection {
    outline: none;
    /* height: 30px; */
    /* width: 15rem; */
    border: none;
    color: rgb(100, 99, 99);
    border-right: 1px solid black;
    background: none;
}

.search-inp2 {
    outline: none;
    height: 30px;
    width: 15rem;
    border: none;
    background: none;
}

.search-inp1::placeholder,
.search-inp2::placeholder {
    padding: 10px;
}

.search-span {
    border-radius: 50px;
    margin-right: 30px;
}

.main-search {
    width: 100%;
    height: 500px;
    padding: 220px;
    /* background-size: cover; */
    /* transition: 3s */
}

.main-search-wrapper {
    position: absolute;
    top: 400px;
    left: 250px;
    transition: 3s;
}

h1 {
    margin-top: -150px;
    margin-left: 250px;
}

h2 {
    color: #242939;
    justify-content: center;
    text-align: center;
    margin-top: -120px;
    margin-bottom: 50px;
}

.feature-listing {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: absolute;
    margin-top: -200px;
    /* background: rgba(245, 238, 225, 0.8); */
}

h3 {
    margin-bottom: 20px;
    margin-left: -1120px;
    margin-top: 30px;
    color: black;
}

.inner1,
.inner2,
.inner3 {
    height: 35px;
    width: 35px;
    padding: 5px;
}

.cart {
    height: 25px;
    width: 25px;
}

.add-buy-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: none;
}

.feature-listing-cart:hover .add-buy-button {
    display: flex;
    flex-direction: column !important;
}

.cart-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 150px;
    outline: none;
    border: none;
    background: var(--clr-primary);
    box-shadow: 0 0 2px 2px gainsboro;
    border-radius: 5px;
}

.feature-listing-inner-container1,
.feature-listing-inner-container2,
.feature-listing-inner-container3,
.feature-listing-inner-container4,
.feature-listing-inner-container5,
.feature-listing-inner-container6 {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: -10px;
    margin-top: -200px;
    /* left: -20px;
    top: 80px; */
    display: none;

    transition: 5s ease-in-out;
    /* transform: scale(0); */
}

.watch {
    overflow: hidden;
}

.feature-listing-cart:hover .feature-listing-inner-container1 {
    display: flex;
    flex-direction: column !important;
    left: 20px;
}

.feature-listing-cart:hover .feature-listing-inner-container2 {
    display: flex;
    flex-direction: column !important;
    left: 240px;
}

.feature-listing-cart:hover .feature-listing-inner-container3 {
    display: flex;
    flex-direction: column !important;
    left: 450px;
}

.feature-listing-cart:hover .feature-listing-inner-container4 {
    display: flex;
    flex-direction: column !important;
    left: 660px;
}

.feature-listing-cart:hover .feature-listing-inner-container5 {
    display: flex;
    flex-direction: column !important;
    left: 870px;
}

.feature-listing-cart:hover .feature-listing-inner-container6 {
    display: flex;
    flex-direction: column !important;
    left: 1080px;
}




.feature-listing-inner1 {
    display: flex;
    gap: 10px;
    padding: 0 10px 0 10px;
    margin-bottom: 20px;
}

/* .feature-listing-inner2 {
    display: flex;
    gap: 10px;
    padding: 0 10px 0 10px;
} */

.feature-listing-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    background: white;
    /* border:1px solid black; */
}

.feature-listing-cart:hover {
    box-shadow: 0 0 2px 2px rgb(172, 171, 171);
}

.p1 {
    margin-top: 10px;
    text-align: center;
}

.watch {
    height: 180px;
    width: 180px;
    object-fit: contain;
}

.btn {
    width: 100px;
    height: 40px;
    margin: 30px;
    border: none;
    outline: none;
    color: #242939;
    font-size: 14px;
    margin-left: 600px;
}

.btn1 {
    width: 100px;
    height: 40px;
    margin: 30px;
    border: none;
    outline: none;
    color: #242939;
    font-size: 14px;
    margin-left: 50px;
}

.btn:hover {
    border-radius: 10px;
    background: gainsboro;
}

.btn1:hover {
    border-radius: 10px;
    background: gainsboro;
}

.img1 {
    height: 20px;
    width: 20px;
    object-fit: contain;
}

.feature-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-top: 480px;
    color: black;
    background: rgba(202, 195, 216, 0.4);
}


.feature-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-top: 950px;
    color: black;
    /* background: rgba(230, 227, 240, 0.5); */
}


.footer {
    width: 100%;
    margin-top: 980px;
    background: rgb(43, 43, 43);
    /* height: 400px; */

}

.footer-inner {
    display: flex;
    justify-content: space-around;
}

#div1 {
    padding: 10px;
    color: #ffffff;
}

#div2 {
    padding: 10px;
    color: #ffffff;
}

#div3 {
    padding: 10px;
    color: #ffffff;
}

#div4 {
    padding: 10px;
    color: #ffffff;
}

#div5 {
    padding: 10px;
    color: #ffffff;
}

#div5 ul {
    display: flex;
}

#div5 ul li {
    padding: 3px;
}

h4 {
    margin: 20px 0 20px 0;
}

ul li {
    list-style: none;
    margin-top: 5px;

}

ul li i {
    visibility: hidden;
}


ul li:hover {
    transform: translateX(4px);
    transition: 0.3s ease-in-out;
}

ul li:hover>i {
    visibility: visible;
    color: blue;
}