* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-primary: hsl(205, 89%, 39%);
}

.logo {
    height: 50px;
    width: 100px;
    margin-left: 60px;
}

.logo-wrapper {
    border-bottom: 1px solid gainsboro;
    padding: 12px;
}

.menu {
    height: 30px;
    width: 30px;
    margin-left: 10px;
}

.wrapper {
    padding: 10px;
    color: whitesmoke;
}

.container {
    display: flex;
}

.side-section {
    width: 20%;
    height: 100vh;
    background: #242939;
}

.main-section-outer {
    width: 1000px;
    height: 100vh;
    background-color: whitesmoke;
}

.main-section-inner1 {
    width: 1000px;
    height: 80px;
    background: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gainsboro;
    padding: 30px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: orange;
}

.myprofile-section {
    display: flex;
    align-items: center;
    margin-right: 10px;
    color: #242939;
}

.menu-section-inner1 {
    height: 2px;
    width: 30px;
    background: black;
    margin: 5px;
}

.main-section-inner3 {
    display: flex;
    margin-top: 100px;
    justify-content: left;
    /* align-items: center; */

}

.main-section-inner3 a {
    margin: 15px;
    padding: 10px;
    color: #242939;
    background: gainsboro;
    border-radius: 5px;
}

.main-section-inner3 a:hover {
    background: #fff;
}


/* My profile */

.myprofile-container {
    margin-top: 10px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 15px;
    width: 40vw;
    border-radius: 5px;
}

.addressbook-container {
    margin-top: 10px;
    margin-left: 135px;
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 15px;
    width: 40vw;
    border-radius: 5px;
}

.payment-container {
    margin-top: 10px;
    margin-left: 275px;
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 15px;
    width: 40vw;
    border-radius: 5px;
}


.input {
    margin-bottom: 10px;
    outline: none;
    width: 100%;
    height: 30px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding-left: 10px;
}



/* Order */

.order-container {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
}

.order-container>div {
    margin: 5px;
}

.image1 {
    height: 200px;
    /* width: 600px; */
    object-fit: contain;
}

.image2 {
    height: 292px;
    width: 600px;
    object-fit: contain;
}

.t-shirt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: gray;
    /* width: 200px; */
    border: 1px solid gainsboro;
    background: white;

}

.t-shirt p {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.product-detail {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Wishlist */

.whishlist-wrapper {
    display: flex;
    justify-content: left;
    align-items: center;
}

.whishlist-wrapper-inner1 {
    padding: 20px;
    margin: 30px;
    background: gainsboro;
    border: 1px solid bisque;
}

.wishlist-wrapper-inner2 {
    padding: 20px;
    margin: 30px;
    background-color: gainsboro;
    border: 1px solid bisque;
}

.wishlist-and-followed-business-houses {
    display: flex;
}

.car {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid gainsboro;
    width: 340px;
    margin: 20px;
}

.car p {
    margin: 10px;
}

.house {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid gainsboro;
    width: 340px;
    margin: 20px;
}

.house p {
    margin: 10px;
}


.review-wraper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid whitesmoke;
    border-radius: 5px;
}

.sold-review {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.main-section-inner2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

/* Return */
.return-container {
    width: 300px;
    height: 400px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    margin: 30px;
}

.dress1 {
    width: 300px;
    height: 220px;
    object-fit: contain;
    margin-left: -40px;
}

.return-container-wrapper{
    display: flex;
    justify-content: left;
    align-items: center;
}